{% extends 'base.html' %}

{% block head_title %}
Honest Hive
{% endblock %}

{% block content %}

<div class='row text-center'>
    <div class='col'>
        <h1>Welcome To Honest Hive</h>
    </div>
</div>

<div class='row mb-2'>
    <div class='col-md-4 mx-auto col-10'>
        <form class='form' method='POST' action='/create-waggle'>
            <input type='hidden' value='/' name='next' />
            {% csrf_token %}
            <textarea class='form-control' name='waggleText' placeholder='Your waggle'></textarea>
            <button type='submit' class='btn btn-primary'>Send</button>
        </form>  
    </div>
    </form>
</div>

<div id="Waggles">

</div>

<script>
    const waggleElements = document.getElementById("Waggles");
    const xmlRequest = new XMLHttpRequest();
    const method = 'GET';
    const url = "/Waggles";
    const responseType = "json";

    function didLike(waggle_id, currentLikes) {
        currentLikes += 1;
        console.log(waggle_id + "---" + currentLikes + " ------ " + (currentLikes+= 1));
    }

    function renderLikeButton(Waggle) {
        return "<button class='btn btn-primary' onclick='didLike(" + Waggle.id + "," + Waggle.likes + ")'>" + Waggle.likes + " Likes</button>";
    }

    function formatWaggles(Waggle) {
        return "<div class='col-12 mb-4 waggle border px-2 py-3' id='waggle-" 
            + Waggle.id +"'><p>" + Waggle.waggleText
            + "</p><div class=btnGroup>" + renderLikeButton(Waggle) + "</div></div>";
    }

    xmlRequest.responseType = responseType;
    xmlRequest.open(method, url);
    xmlRequest.onload = function() {
        const xmlServerResponse = xmlRequest.response;
        var listedItems = xmlServerResponse.response;

        waggleElements.innerHtml = "";
        var finalString = "";
        for (var i = listedItems.length - 1; i >= 0; i--) {
            currentItem = formatWaggles(listedItems[i]);
            finalString += currentItem;
        }
        waggleElements.innerHTML += finalString;
        console.log(finalString)
    }

    xmlRequest.send()

</script>
{% endblock content %}